# node modules
/frontend/GUI/node_modules/

# local env files
*.env
*.env.*

# Log files
*.log

# Editor directories and files
.idea

# Mac files
.DS_Store

# .lock files
*.lock

# binaries
*.pyc

out
.DS_Store
*.pyc
