header {
    display: flex;

    flex-direction:  column;

    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 2rem;

    height: 100vh;
}

div {
    display: flex;

    flex-direction: column;

    gap: 1rem;

}

div h1 {
    font-size: clamp(2rem, 5vw, 3rem);
}

ul {
    display: flex;

    justify-content: space-evenly;
    align-items: center;

    width: 50vw;

    list-style: none;
}

li a{
    display: flex;

    position: relative;

    justify-content: center;
    align-items: center;

    width: clamp(75px, 10vw, 100px);
    height: clamp(75px, 10vw, 100px);

    border-radius: 50%;

    background-color: #EEF1EF33;
    z-index: 1;
}

li a:before{
    content: '';
    display: block;
    position: absolute;

    pointer-events: none;

    width: inherit;
    height: inherit;

    border-radius: 50%;

    background-color: #656E75;
    opacity: 0;

    transition: opacity 0.3s ease-in-out;
    z-index: 0;
}

li a:hover:before{
    opacity: 0.4;
}

