* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

    font-family: 'Playfair Display', sans-serif;
    letter-spacing: 0.15rem;
    font-weight: lighter;

    color: #EEF1EF;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../assets/fonts/Playfair_Display-2/static/PlayfairDisplay-Regular.ttf')
}

body {
    background-color: #101012;

    height: 100vh;
    overflow-y: hidden;
}

.header_text {
    display: flex;

    text-align: center;
    font-weight: lighter;

    align-items: center;

    flex-direction: column;

    gap: 1rem;

}

.header_text h1 {
    font-size: clamp(2rem, 5vw, 3rem);
}
